.mySwiper {
  height: 500px;
 
}

.swiper-slide {
  height: 100%;
  background-color: white;
}

.swiper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Cimg {
  justify-content: space-around;
  height: 100%;
}


.column2 {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 500px;
  overflow: hidden;
}